
/*  Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Styles appliqués à la page en ciblant le conteneur, le champ de saisie, le bouton et le titre */
.container {
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 0;
}

.alert-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-top: 6px;
    color: red;
    font-size: 14px;
    font-weight: 700;
    display: none;
}

button {
    padding: 12px 24px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
}

button:hover {
    background-color: #218838;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: all 0.2s ease;
}

li span {
    flex: 1;
    font-size: 16px;
}

li input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Classe pour marquer qu'une tache est terminée */
.completed {
    text-decoration: line-through;
    color: #888;
    opacity: 0.6;
}

/* Aspect du bouton "supprimer" */
.deleteBtn {
    background-color: #f44336;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    min-width: 32px;
}

.deleteBtn:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
